# Ignore all .pth files in the checkpoints folders
base/checkpoints/*.pth
base/checkpoints_obstacle/*.pth
random/checkpoints/*.pth
random/checkpoints/*/*.pth
decentralized/single_mode/checkpoints/*.pth
decentralized/multi_mode/checkpoints_multimode/*.pth
decentralized/multi_mode_alternating/checkpoints_alternating/*.pth
decentralied/multi_mode_alternating/checkpoints_obstacle/*.pth
random/data/full_traj_rand_10000.csv
madiff/diffuser/datasets/data/mpe/
madiff/checkpoints/

