# Ignore all .pth files in the checkpoints folders
base/checkpoints/*.pth
base/checkpoints_obstacle/*.pth
random/checkpoints/*.pth
random/checkpoints/*/*.pth
decentralized/single_mode/checkpoints/*.pth
decentralized/multi_mode/checkpoints_multimode/*.pth
decentralized/multi_mode_alternating/checkpoints_alternating/*.pth
decentralized/multi_mode_alternating/checkpoints_obstacle/*.pth
random/data/full_traj_rand_10000.csv
madiff/diffuser/datasets/data/mpe/
madiff/checkpoints/
ctde_conditional/trained_models/
arm/lift/rollouts/
arm/lift/rollouts_pot/
arm/lift/trained_models/
arm/handover/rollouts/
arm/handover/trained_models
gnn_ctde/rollouts/
gnn_ctde/trained_models/
