# Ignore all .pth files in the checkpoints folders
base/checkpoints/*.pth
base/checkpoints_obstacle/*.pth
random/checkpoints/*.pth
random/checkpoints/*/*.pth
decentralized_two_attr/checkpoints/*.pth
decentralized_two_denoiser/checkpoints/*.pth
decentralized_two_denoiser/checkpoints_multimode/*.pth
decentralized_two_denoiser/checkpoints_shared/*.pth
random/data/full_traj_rand_10000.csv

